@media (min-width: 620px) {
  .parent {
    display: none !important;
  }
}

@media (max-width: 620px) {
  .sidebar {
    border-radius: 8px;
    position: relative  !important;
    margin-top: 16px;
  }

  .parent {
    position: fixed;
    top: 64px;
    left: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh !important;
    width: 100% !important; 
    background-color: #0000007f;
    padding: 20px;
  }

  .parent_buttons {
    position: relative !important;
    padding: 20px 20px 0px 20px;
  }

  .parent_buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
    margin: 0px !important;
  }
}

@media (max-width: 620px) and (max-height: 510px) {
  .parent {
    z-index: 1000;
    top: 0px;
  }
}