.modal {
  max-height: 38.9375rem;
  max-width: 30rem;
}

@media (max-width: 38.75rem) {
  .modal {
    padding: 1.25rem;
  }
}

@media (max-height: 36.875rem) {
  .modal {
    height: 27.5rem;
  }
}

@media (max-height: 29.375rem) {
  .modal {
    height: 20rem;
  }
}