@media (max-width: 620px) {
  .section {
    text-align: start;
  } 
}

.list {
  height: 70vh;
  overflow-y: scroll;
}

@media (max-height: 980px) {
  .list {
    height: 64vh;
  }
}

@media (max-height: 790px) {
  .list {
    height: 54vh;
  }
}