.sidebar {
  width: 18.75rem;
  height: 100vh !important;
  transition: 0s !important;
}

.parent {
  height: 100vh;
  transition: 0s !important;
}

@media (max-width: 48rem) {
  .sidebar {
    max-width: 16.5rem !important;
  }
}

@media (max-width: 38.75rem) {
  .eye_button,
  .parent {
    display: none !important;
  }
}