@tailwind base;
@tailwind components;
@tailwind utilities;
/* global styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}
html {
  scroll-behavior: smooth;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
*::-webkit-scrollbar {
  width: 12px;              
}
*::-webkit-scrollbar-track {
  background: transparent !important;        
}
*::-webkit-scrollbar-thumb {
  background: #635FC7; 
  border-radius: 12px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #8b88f7; 
}
.sidebarOpen {
  margin-left: 9.125rem;
  border-left: 0rem;
}
.mainSidebarOpen {
  margin-left: 18.125rem;
}
.body_dark {
  background-color: #20212C;
}
.body_light {
  background-color: #F4F7FD;
}
.col-gradient {
  background: linear-gradient(180deg, #E9EFFA 0%, #e9effa80 100%);
}
.col-gradient-dark {
  background: linear-gradient(180deg, #2b2c3740 0%, #2b2c3720 100%);
}
.doing::before,
.done::before,
.todo::before {
  content: "";
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
}
.doing::before {
  background: #8471F2;
}
.todo::before {
  background: #49C4E5;
}
.done::before {
  background: #67E2AE;
}
.filter_purple {
  filter: invert(36%) sepia(73%) saturate(830%) hue-rotate(211deg) brightness(88%) contrast(82%);
}
@media (max-width: 48rem) {
  .mainSidebarOpen {
    margin-left: 16.25rem;
    padding-top: 5.9375rem;
    overflow-y: scroll;
  }
  .sidebarOpen {
    margin-left: 7.875rem;
  }
}
@media (max-width: 620px) {
  .sidebarOpen {
    margin-left: 0px;
  }
  .mainSidebarOpen {
    margin-left: 0px;
    padding-top: 60px;
  } 
}
.parent_modal {
  animation: teste 0.4s ease-in-out;
}
@keyframes teste {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error_input {
  border: 0.0625rem solid #EA5555 !important;
}
.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.dark {
  background-color: #20212C;
}
.light {
  background-color: #F4F7FD;
}