.modal {
  max-height: 30.0625rem;
  max-width: 30rem;
}

@media (max-width: 38.75rem) {
  .modal {
    padding: 1.25rem !important;
  }
}

@media (max-height: 38.75rem) {
  .modal {
    height: 26.25rem; 
  }
}

@media (max-height: 27.5rem) {
  .modal {
    height: 20rem;
  }
}