.header {
  height: 6rem;
  transition: 0s !important;
}

.buttonMobile {
  display: none !important;
}

.button_sidebar {
  display: none;
}

@media (max-width: 48rem) {
  .h2 {
    font-size: 1.25rem;
    max-width: 7.5rem;
    line-height: 1.5625rem;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}

@media (max-width: 620px) {
  .button_sidebar {
    display: flex;
  }
  .header {
    height: 64px;
  }
  .buttonDesktop {
    display: none !important;
  }
  .buttonMobile {
    display: block !important;
  }
  .parent_items {
    border: none !important;
  }
  .h2 {
    display: none;
  }
}

/* mobile */ 
@media (max-width: 420px) {
  .parent_items {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .text_button {
    max-width: 12.5rem;
    font-size: 1.125rem !important;
    line-height: 1.5rem !important;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
}

@media (max-width: 320px) {
  .text_button {
    max-width: 100px;
  }
}