.modal {
  height: 42.1875rem;
}

@media (max-width: 23.4375rem) {
  .modal {
    padding: 1.25rem !important;
  }
} 

@media (max-height: 41.875rem) {
  .modal {
    height: 26.25rem;
  }
} 

@media (max-height: 27.5rem) {
  .modal {
    height: 20rem;
  }
} 

.button_remove_input:hover img {
  transition: 0.0s;
  filter: invert(39%) sepia(58%) saturate(703%) hue-rotate(312deg) brightness(107%) contrast(91%);
}